@media (min-width: 32.5em) {
    body {
        font-size: 19px;
    }

    header, footer {
        display: grid;
        border-radius: 12px;
        align-items: center;
        
    }

    h1 {
        padding: 15px;
    }
    
   
}