* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    padding: 10px;
}


header, main, footer {
    max-width: 750px;
    margin: 0 auto; 
}

header, footer {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #54426B;
    color: white;
    font-size: 20px;
}

main {
    display: grid;
    /* grid-template-columns: 1fr;  */
}

h2, p, a, img {
    padding: 10px;
}

/*Class selectors*/
.column_items h2 {
    background-color:  #54426B;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px; 
    color: white; 
}


.column_items {
   /* padding: 4px; */
   background-color: #E9F1F7;
   border: 1px solid lightslategray;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   margin: 15px;
}



