html {
    text-align: center;
    margin: 50px;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

h1 {
    font-family: "Goldman", cursive, sans-serif;
    border-bottom: 1px solid black;
    font-size: 45px;
}   

p {
    font-family: 'Handlee', cursive, sans-serif;
    font-size: 25px;
}

footer {
    font-family: "Goldman", sans-serif;
    font-size: 13px;
}