* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #FBFEF9;
    font-family: 'Sansita', sans-serif;
    font-size: 17px;
   

}

header {
    font-family: 'Krub', sans-serif;
    font-size: 12px;
    display: grid;
    align-items: center;
}

header p {
    grid-column: span 5;
    text-align: center;
    background-color: rgb(25, 77, 109);
    font-weight: 700;
    padding: 5px;
}


h1, nav {
    padding: 2px;
    text-align: center;
}
nav {
   
    grid-row: 2;
 }

nav button {
   
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
   
}

nav ul.open {
    display: block;}

nav ul li a {
    display: block;
    padding: 5px 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,.5);
    
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}



header, footer {
    background-color: #0C6291;
    padding: 10px;
    color: white;
}


footer {
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    text-align: center;
    
}

a {
    color: white;
    text-decoration: none;
}

/* JOIN PAGE */

form p {
    display: table-row;
}

textarea {
    padding: 8px;
}

th, td {
    padding: .5rem;
}

th {
    font-size: 30px;
}

label {
    padding: 5px;
}

input {
    padding: 8px;

}

input[type="radio"] {
    transform: scale(1.25);
}
/* END */
/*-------------------CLASS SELECTORS----------------*/


.name {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-content: center;
    text-align: center;
   

}

.name h1 {
    text-align: left;
}


.info {
    display: flex;
    justify-content: right;
    align-content: center;
}

.info, .name, .social-media {
    grid-row: 2;
}
.social-media img  {
    width: 30px;
    grid-column: 4;
    grid-row: 1;
    padding: 2px;

}

.herodiv {
    position: relative;


}

.herodiv img {
    width: 100%;
    
}



.herodiv h2 {
    position: absolute;
    top: 15px;
    margin: 10px;

}

.join_us {
    position: absolute;
    right: 10px;
    bottom: 15px;
    background: rgb(29, 101, 196) ;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border-color: blue;
    box-shadow: 0 0 10px rgb(46, 84, 211);
}




.temp {
    display: grid;

}

.temp img {
    grid-column: 1;
  
}
.temp p {
    grid-column: 2;
    text-align: left;
    font-size: 40px; 
  
}


.spotlight1, .spotlight2, .spotlight3 {
    padding: 10px;
    background-color: #dbe6eb;
    box-shadow: 0 0 20px rgb(46, 84, 211);

}



.spotlight3 {
    display: none;
}


.divider {
    border-bottom: 1px solid grey;
}
 
.discover {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;

}


.discover img[data-src] {
    filter: blur(0.10em);

}

.discover img {
    filter: blur(0em);
    transition: filter 1s;
    border: 1.5px solid black;
}

/* JOIN PAGE */
.input {
    padding: 5px;
}

.extraPicture img {
    display: none;
}

.joinBtn {
    display: grid;
}

.joinBtn input:hover {
    color: white;
    background-color: skyblue;
    font-size: 20px;
    border: none;
}

/* END */

/* Directory */

.businesses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.businesses section {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(229, 241, 199);
}

.businesses p {
    padding: 3px;
}

.businesses img {
    width: 100%;
}
/* END  */

/*-----id-----*/
#banner {
    grid-column: 1/6;
    text-align: center;
    padding: 4px;
}


#blocks {
    display: grid;
    margin: 10px;
    gap: 10px;
   
}

#blocks h2, p {
    text-align: center;
}

#events p, #join p, #news p {
    margin: 10px;
}

#events, #join, #weather, #news {
    background-color: #dbe6eb;
    box-shadow: 0 0 30px rgb(46, 84, 211);
}

#cast_title {
    border-bottom: 1px solid grey;
    margin: 5px;   
}

#weather p {
    text-align: center;
    padding: 10px;
}


#weather img {
    max-width: 100%;
}

#spotlights img {
    width: 100%;
}


/* JOIN SECTION */

#joinPage{
    margin: 30px;
    justify-content: center;
  
}

#formGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
 
}

#membership {
   padding: 10px;
}

#explainations {
    grid-row: 3;
    grid-column: 1/2;
}

#thankyou {
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}