* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #FBFEF9;
    font-family: 'Sansita', sans-serif;
    font-size: 17px;
    margin: 20px;
   

}

header {
    font-family: 'Krub', sans-serif;
    font-size: 12px;
    display: grid;
    align-items: center;
}

header p {
    grid-column: span 5;
    text-align: center;
    background-color: rgb(25, 77, 109);
    font-weight: 700px;
    padding: 5px;
}


h1, nav {
    padding: 2px;
}
nav {
   
    grid-row: 2;
 }

nav button {
   
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
   
}

nav ul.open {
    display: block;}

nav ul li a {
    display: block;
    padding: 5px 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,.5);
    
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}



header, footer {
    background-color: #0C6291;
    margin: 10px;
    padding: 10px;
    color: white;
}


footer {
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    text-align: center;
    
}

a {
    color: white;
    text-decoration: none;
}

/*-------------------CLASS SELECTORS----------------*/


.name {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-content: center;
    text-align: center;
   

}

.name h1 {
    padding: .5px;
    margin: 0;
    text-align: left;
}


.info {
    display: flex;
    justify-content: right;
    align-content: center;
}

.info, .name, .social-media {
    grid-row: 2;
}
.social-media img  {
    width: 30px;
    grid-column: 4;
    grid-row: 1;
    padding: 2px;

}

.herodiv {
    position: relative;
    margin: 10px;
}

.herodiv img {
    width: 100%;
}


.join_us {
    position: absolute;
    bottom: 200px;
    right: 50px;
    background: rgb(29, 101, 196) ;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border-color: blue;
    box-shadow: 0 0 10px rgb(46, 84, 211);
}




.temp {
    display: grid;

}

.temp img {
    grid-column: 1;
  
}
.temp p {
    grid-column: 2;
    text-align: left;
    font-size: 40px;

    
  
}

.forecast h2 {
    text-align: end;
    margin: 10px;
    border-bottom: 1px solid grey;
}


.spotlight1, .spotlight2, .spotlight3 {
    border: 1px solid rgb(25, 77, 109);
    padding: 10px;
    background-color: #dbe6eb;
    box-shadow: 0 0 20px rgb(46, 84, 211);
    grid-auto-rows: minmax(300, auto);

}

.spotlight1 img, .spotlight2 img, .spotlight3 img {
    width: 100%;
}

.spotlight3 {
    display: none;
}


.divider {
    border-bottom: 1px solid grey;
}
/*-----id-----*/
#banner {
    grid-column: 1/6;
    text-align: center;
    padding: 4px;
}


#blocks {
    display: grid;
    margin: 10px;
    gap: 10px;
   
}

#blocks h2, p {
    text-align: center;
}

#events p, #join p, #weather p, #news p {
    margin: 10px;
}

#events, #join, #weather, #news {
    border: 1px solid rgb(25, 77, 109);
    background-color: #dbe6eb;
    box-shadow: 0 0 30px rgb(46, 84, 211);
}

