* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-color: #FBFFFE;
}

header {
    display: grid;
    align-items: center;
}

header p {
    text-align: center;
    padding: 5px;
}

header, footer {
    background-color: #FAA916;
}

button a {
    text-decoration: none;
    color: white;
}

/* Home Page */
nav button {
    background-color: transparent;
    border: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    padding: 5px 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.5);
    color: black;
    font-size: 20px;
}


nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}



h1 {
    font-family: 'Alegreya Sans SC', sans-serif ;
}

h2,h5 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 5px;
}

span {
    font-family: 'BIZ UDGothic', sans-serif;
}

p {
   font-family: 'Philosopher', sans-serif; 
}

/* home page class */
.home {
    display: grid;
}


/* Slideshow Images*/

.herodiv {
    position: relative;
    max-width: 550px;
    margin: 10px;
}

.herodiv img {
    width: 100%;

}

.cta {
    color: white;
    font-size: 30px;
}
.cta h2{
    position: absolute;
    top: 20px;
    right: 10px;

}

.cta h3 {
    position: absolute;
    top: 50px;
    right: 10px;
}

.cta a {
    position: absolute;
    top: 75px;
    right: 10px;
    border: none;
    padding: 6px;
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.cta a:hover {
    background-color: rgb(79, 17, 149);
    border: none;
    padding: 6px;
    cursor: pointer;
    
}


/* header classes */
.hotelName {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.hotelName h1 {
    text-align: left;
}

.logoImg, .hotelName, .social_media, .links, .links span {
    grid-row: 2;
    padding: 6px;
}

.links span, .social_media {
    cursor: pointer;
}

.social_media img {
    width: 30px;
}

.logoImg {
    margin: 9px;

}

/* Home Temple Spotlight */
.templeInfo {
    margin: 15px;
    display: grid;
}

.templeInfo  h2, .templeInfo h3  {
    grid-column: span 2;
    padding: 5px;
}
.templeInfo img {
    float: right;

}

.templeInfo img, p {
    grid-row: 4;
}

.templeInfo p {
    padding: 10px;


}

.templeInfo h2, h3, .servicesList h2, .weather h2 {
    text-align: center;

}

/* Services Section */

.servicesList {
    display: grid;
    padding: 10px;
    text-align: center;
}

.servicesList img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}


.servicesList h2 {
    grid-row: 1;
    grid-column: span 2;
}

.service1, .service2, .info {
    padding: 4px;   
    margin: 3px;

}

.service3, .service4, .service5 , .service6 {
    display: none;
}

.images {
    text-align: center;
}

/* weather section */
.weather {
    margin: 15px;
}


.currentCoditions p, #currentTemp, #humidity{
    font-size: 30px;
}
/* footer section */

.vitalInfo {
    padding: 10px;


}

.vitalInfo a {
    text-decoration: none;
    color: black;
}

.responsiveMap {

    width: 100%;
    height: 60%;
}


.info h3, .info p, .info2 {
    text-align: center;
}

/* ============ */

/* Reservations */

.reserv {
    margin: 20px;
}

.guestInfo {
    border-radius: 5px;
    padding:20px;
    background-color: #f2f2f2;
}

.guestInfo ul {
    margin: 30px;
    list-style: none;
}

.topheading, .guestInfo {
    margin: 15px;
}

.topheading h2, .topheading h4, .topheading h5 {
    text-align: left;
}


.formText {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.formText textarea {
    resize: vertical;
}


input[type=text], input[type=number], input[type=tel], 
input[type=email], input[type=date] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type=submit] {
    width: 100%;
    background-color: #8954ad;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #35309a;
}

input[type=radio] {
    margin: 10px;
    transform: scale(1.25);
}

/* SERVICES */
.services, h3 {
    margin: 20px;
}

.services h2 {
    margin: 20px;
    text-align: center;
}

.general ul, .reception ul {
    list-style: none;
}


/* TEMPLES */

.cards {
    margin: 20px;
}


.cards section {
    padding: 10px;
}

.cards h2, .cards p {
    text-align: center;
}

.cards img {
    border-radius: 10px;
}

