* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #FBFEF9;
    font-family: 'Sansita', sans-serif;
    font-size: 17px;
    

}

header {
    font-family: 'Krub', sans-serif;
}

main {
    margin: 10px;
    padding: 5px;

}


nav ul {
    list-style-type: none; 
}


nav ul li a {
    display: block; 
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    justify-content: center; 
}

a {
    color: white;
}

a:hover {
    background-color: white;
    color: black;
    font-weight: 350;
}

h1 {
    font-family: 'Laila', sans-serif;
    font-size: 45px;
}

h2 {
    font-size: 18px;
}

header, footer {
    background-color: #0C6291;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

footer {
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
}